
  
  .img-user {
    margin-bottom: 10px!important;
    display: inline-block!important;
    float:left;
    width: 15%;
  }
  
  .img-user img {
    max-width: 100%;
  }
  
  .copyright {
    position: absolute;
    bottom: 15px;
    left:0;
    font-size: 12px;
    right:0;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  
  .button-disabled, .button-disabled:hover{
    background-color: #72A1F3!important;
    cursor: not-allowed!important;
  }
  
  .content-sample {
    border: 1px solid #ccc;
    max-width: 300px;
    padding: 36px;
    margin: auto;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
  }
  
  .title {
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
  
  .block-user-name {
    border-top: 1px solid #f1f1f1;
  }
  
  .block-user-name label {
    margin-top: 8px;
  }
  
  .voxeet-logo {
    width: 120px;
  }
  
  .blockInput {
    text-align: center;
    margin-top: 8px;
  }
  
  .blockInput select {
    margin: auto;
    margin-left: 3%;
    width: 82%;
    margin-top: 15px;
  }
  
  .blockInput div {
    display: block;
    margin-bottom: 16px;
  }
  
  .blockInput div input {
    border-radius: 3px;
    border-style: unset;
    border: 1px solid #ccc;
    height: 20px;
    font-size: 12px;
    width: 100%;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px;
  }
  
  .blockButton {
    text-align: center;
    margin-top: 32px;
  }